# dependencies
node_modules
.pnp
.pnp.*

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local
.env.production

# typescript
*.tsbuildinfo
next-env.d.ts.bak

# uploads (runtime - persisted via Coolify volume)
public/uploads/*
!public/uploads/.gitkeep

# prisma
prisma/dev.db
prisma/dev.db-journal
